<template>
  <div
    class="content"
    v-html="content"
  />
</template>

<script>
export default {
    data: () => ({
        content: '',
    }),
    created() {
      this.$axios
        .post(process.env.URL_API + '/checkout/external-checkout/create', {
          customerType: "1",
          delivery: 2,
        })
        .then(response => {
          this.content = response.data;
          this.$nextTick(() => {
            if (this.$el.querySelector('script')) {
              eval(this.$el.querySelector('script').text.replace('this', 'window'));
            }
          })
        })
    },
};
</script>
