<template>
  <div class="product-list">
    <product-box
        v-for="(product, index) in products"
        :key="index"
        :product="product"
    />
  </div>
</template>

<script>
export default {
    components: {
        productBox: require(process.env.COMPONENT_PRODUCT_BOX).default,
    },
    props: {
        products: Array,
    },
};
</script>
