<template>
    <div class="cart mb-5">
        <h2>Cart</h2>
        <!-- Shopping cart table -->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase">Product</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">Price</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">Quantity</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">Remove</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in cartItems">
                <th scope="row" class="border-0">
                  <div class="p-2">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-1_zrifhn.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">
                    <div class="ml-3 d-inline-block align-middle">
                      <h5 class="mb-0"> <nuxt-link :to="{ name: 'product', params: { slug: item.product.slug } }">{{ item.name }}</nuxt-link></h5><span class="text-muted font-weight-normal font-italic d-block">Category: Watches</span>
                    </div>
                  </div>
                </th>
                <td class="border-0 align-middle"><strong>{{ item.formattedFinalPrice }}</strong></td>
                <td class="border-0 align-middle"><strong>{{ item.quantity }}</strong></td>
                <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        cartItems () {
            return this.$store.getters['cart/cartItems'];
        },
    }
}
</script>
