<template>
    <nav>
        <ul class="nav flex-column">
          <li
            v-for="(item, index) in categories"
            :key="index"
            class="nav-item"
            >
                <nuxt-link :to="{
                    name: 'category',
                    params: {
                        slug: item.slug,
                    }
                }" class="nav-link">{{ item.name }}</nuxt-link>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    computed: {
        categories () {
            return this.$store.getters['category/categories'];
        },
    }
}
</script>
