$primary: #129187;
$secondary: #000;

@import "~bootstrap/scss/bootstrap";

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}


:root {
    --color-primary: #129187;
}

a {
    transition: all 0.3s;
}

.nuxt-progress {
    background: var(--color-primary);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .product-box {
        max-width: 23%;
        text-align: center;
        margin-bottom: 40px;
        h3 {
            font-size: 0.8em;
        }
    }
}

img {
    max-width: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin-bottom: 80px;
    .header-logo {
        img {
            height: 140px;
            display: block;
        }
    }
    .header-main {
        padding: 10px 0;
    }
    .header-bottom {

    }
}

footer {
    margin-top: 80px;
    padding: 100px 0;
    margin-top: auto;
}

// ------------- layout 
.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.__nuxt-error-page {
    position: static;
}

// ------------- BOOTSTRAP MODS
.navbar-horizontal {
    flex-direction: row;
    //position: relative;
    .nav-link {
       padding: 2rem 1rem;
       &:hover,
       &.router-link-active {
        background: rgba(#fff, 0.2);
       }
    }
    ul {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
}

.bg-primary {
    a {
        color: #fff;
    }
}

.bg-secondary {
    a {
        color: #fff;
    }
}
