<template>
  <div class="container">
    ACCOUNT
    <br>
    <br>
    <a class="btn btn-danger" @click="$store.dispatch('user/logout')">Logga ut</a>
  </div>
</template>

<script>
export default {
  middleware: 'authenticated',
  mixins: [
    require('~/mixins/page').default,
  ],
  data: () => ({
  }),
  methods: {
  },
};
</script>
