<template>
  <div class="container">
    <div class="mb-5">
      <h1>Category {{ $route.params.slug }}</h1>
    </div>

    <div>
        <product-list
            :products="products"
        />
    </div>
  </div>
</template>

<script>
export default {
    data: () => ({
        products: [],
    }),
    computed: {
    },
    components: {
        productList: require(process.env.COMPONENT_PRODUCTLIST_GRID).default,
    },
    methods: {
    },
    asyncData(context) {
        return context.store.dispatch('category/fetchProducts', {
                slug: context.route.params.slug,
            })
            .then(response => {
                return {
                    products: response.data,
                };
            });
    },
};
</script>
