<template>
  <div class="container">
    <payment-form/>
  </div>
</template>

<script>
export default {
  mixins: [
    require('~/mixins/page').default,
  ],
  components: {
    PaymentForm: require(process.env.COMPONENT_PAYMENT_FORM).default,
  },
};
</script>
