<template>
  <div class="container">

    <form @submit.prevent="submit">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" v-model="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="password">
      </div>
      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  mixins: [
    require('~/mixins/page').default,
  ],
  data: () => ({
    email: '',
    password: '',
  }),
  methods: {
    submit: function() {
      this.$axios
        .post(process.env.URL_API + '/api/login/try', {
          loginEmail: this.email,
          loginPassword: this.password,
        }, {
          headers: {
            'X-Requested-With': 'XMLHttpRequest',
          },
        })
        .then(response => {
          this.$store.dispatch('user/setUser', response.data)
            .then((response) => {
              this.$router.push({ name: 'account' });
            })
        });
    },
  },
};
</script>
