<template>
  <div class="container">
    <div>
      <div v-if="page" v-html="page.pageTranslation.content"></div>
    </div>
  </div>
</template>

<script>
export default {
    data: () => ({
      page: null,
    }),
    computed: {
    },
    asyncData ({ params, store, error }) {
      const page = store.getters['page/bySlug'](params.slug);

      if (!page) {
        error({ statusCode: 404, message: 'Page not found' });
      }

      return {
        page: store.getters['page/bySlug'](params.slug),
      }
    },
};
</script>
