<template>
  <div class="container">

    <h1>Startpage</h1>
<!--     <component
      v-for="(component, index) in componentsList"
      :key="index"
      :is="component.tag"
    /> -->

  </div>
</template>

<script>
export default {
  mixins: [
    require('~/mixins/page').default,
  ],
  components: {
    //ComponentProductBuy: require(process.env.COMPONENT_PRODUCT_BUY).default,
    //ComponentProductPrice: require(process.env.COMPONENT_PRODUCT_PRICE).default,
  },
  data: () => ({
    componentsList: [
      {
        id: 'first-buy',
        tag: 'ComponentProductBuy',
      },
      {
        id: 'first-price',
        tag: 'ComponentProductPrice',
      },
      {
        id: 'second-buy',
        tag: 'ComponentProductBuy',
      },
    ],
  }),
};
</script>
