<template>
    <div class="page-wrapper">
        <header>
            <div class="header-top bg-secondary text-white">
                <div class="container d-flex">
                    <nav>
                        <ul class="navbar-nav navbar-horizontal">
                            <li
                                v-for="(item, index) in $store.getters['page/menu']"
                                class="nav-item"
                            >
                                <nuxt-link :to="{ name: 'page', params: { slug: item.pageTranslation.slug } }" class="nav-link">{{ item.pageTranslation.name }}</nuxt-link>
                            </li>
                        </ul>
                    </nav>
                    <nav class="ml-auto">

                    </nav>
                </div>
            </div>

            <div class="header-main">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <nuxt-link :to="{name: 'startpage'}" class="header-logo">
                            <img src="~/assets/images/logo.png" alt="">
                        </nuxt-link>
                    </div>
                </div>
            </div>

            <div class="header-bottom bg-primary">
                <div class="container">
                    
                    <div class="d-flex justify-content-between">
                        <nav>
                            <ul class="navbar-nav navbar-horizontal">
                                <li
                                    v-for="(item, index) in $store.getters['page/all']"
                                    class="nav-item"
                                >
                                    <nuxt-link :to="{ name: 'page', params: { slug: item.pageTranslation.slug } }" class="nav-link">{{ item.pageTranslation.name }}</nuxt-link>
                                </li>
                            </ul>
                        </nav>

                        <nav>
                            <ul class="navbar-nav navbar-horizontal">
                                <template v-if="$store.getters['user/isGuest']">
                                    <li class="nav-item"><nuxt-link :to="{name: 'login'}" class="nav-link">Logga in</nuxt-link></li>
                                </template>
                                <template v-else>
                                    <li class="nav-item"><nuxt-link :to="{name: 'account'}" class="nav-link">Konto</nuxt-link></li>
                                </template>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <nuxt />
        </div>

        <footer class="bg-dark">
            <div class="container">
                <p class="text-white text-center">
                    Footer
                </p>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        components: {
            //cart: require(process.env.COMPONENT_CART_CART).default,
            //categoryMenu: require(process.env.COMPONENT_CATEGORY_MENU).default,
        },
        computed: {
        },
        mounted () {
            //this.$store.dispatch('category/fetch');
        },
    }
</script>
