<template>
  <div class="product-box">
    <div class="image">
        <img src="https://fakeimg.pl/400x400/?text=Image">
    </div>
    <h3 class="product-name">
        <nuxt-link :to="{ name: 'product', params: { slug: product.slug } }">{{ product.name }}</nuxt-link>
    </h3>

    <button class="btn btn-primary" @click="buy">Köp</button>
  </div>
</template>

<script>
export default {
    props: {
        product: Object,
    },
    methods: {
        buy () {
            this.$store.dispatch('cart/add', {
              amount: 1,
              id: this.product.id,
            });
        },
    },
};

</script>
